.fs-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 0.25s ease-out;
  z-index: 9999;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fs-content {
  position: relative;
  max-width: 95%;
  max-height: 90vh;
}
.fs-overlay video{
  max-height: 90vh;
}


.fs-image {
  max-width: 100%;
  max-height: 85vh;
  border-radius: 12px;
  box-shadow: 0 8px 40px rgba(0,0,0,0.35);
  animation: zoomIn 0.35s ease;
}

@keyframes zoomIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* CLOSE BUTTON */
.fs-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* NAVIGATION ARROWS */
.fs-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 20px;
  opacity: 0.7;
  transition: 0.2s;
}

.fs-arrow:hover {
  opacity: 1;
}

.fs-arrow.left {
  left: -80px;
}

.fs-arrow.right {
  right: -80px;
}

.skeleton-wrapper.gallery-thumb {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
}
