@import "./variables.css";
* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
  background: #f4f2fa !important;  /* el mismo fondo del Home */
  min-height: 100vh;
  padding:0;
  margin:0;
}
